
<div class='about-container'>
    <div class='about-text'>
        <div class='about-header'>
            <h2>hello world!</h2>
            <img class='cat-paw' src='assets/cat_paw_hi.gif' width="100">
        </div>
        <div class='about-bio'>
            <p>
                Nice to meet you, I’m Alyssa (she/her)!<br>
        
                <br>I'm an undergrad student studying Computer Science (+ specialization in Business) at the University of Waterloo. 
                I have experience working in both frontend/backend development and data engineering. Some of the areas I would love the chance to dive deeper 
                in include Data, Software, Fintech, Machine Learning, Artificial Intelligence, UX/UI and Cybersecurity.<br>
        
                <br>I love learning new languages and applying them in my own side projects to fully master them. Outside of school, 
                I have gained work experience through internships and extracurriculars. I’m currently interning at <a class='rbc' 
                href='https://www.rbcwealthmanagement.com/'><span style="color: #0080A8; font-weight:700;">RBC</span></a> 
                as a Software Developer and have previously interned as a Data Engineer at 
                <a class='ritual' href="https://ritual.co/"><span style="color: #18B3E9; font-weight:700;">Ritual</span></a>. <br>
        
                <br>Did you know I'm a huge cat lover and foodie? When I’m not coding away at a project or studying for finals, I enjoy travelling, 
                learning new recipes, binge-watching shows, blasting Broadway hits, playing Valorant and ice skating.<br>
        
                <br>I’m also currently exploring Spring 2022 internship opportunities. 
                <a href="mailto:alyssa.gao@uwaterloo.ca"><span [style.color]="!darkMode ? 'black' : 'white'" style="text-decoration:underline; font-weight:400;">Get in touch</span></a>.

            </p>
        </div>
    </div>
    <img class="profile" [src]="imgSrc" title="Nice to meet you!"
           (mouseover)="imgSrc = 'assets/about_me_closed.png'"
           (mouseout)="imgSrc = 'assets/about_me_opened.png'">
</div>
<app-contact></app-contact>
