.about-header {
    display: flex;
    align-items: center;
    margin-top:2rem;
}

.about-container {
    display: flex;
    align-items: center;
    flex-direction: space-between;
}

.about-bio {
    padding-right:5rem;
}

a{
    text-decoration: none;
    font-weight:700;
}

.profile{
    width: 30vw;
}

@media screen and (max-width: 800px) {
    .about-container {
        flex-direction: column;
    }

    h2 {
        font-size: 25px;
        line-height: 25px;
    }

    p, li{
        font-size: 11px;
        line-height: 15px;
    }

    .about-bio {
        padding-right:0;
    }
    
    .profile{
        width: 40vw;
        margin-top: 1rem;
    }

    .cat-paw{
        width: 70px;
    }
  }