<div class='contact-container'>
    <p>made with 🚀 + ✨</p>
    <div class='social-media'>
        <a href="https://www.linkedin.com/in/alyssa-gao/">
            <!-- <svg> -->

                <img  class="social-media-icon linkedin" src="assets/linkedin.svg"/>
            <!-- </svg> -->
        </a>
        <a href="https://github.com/alyssagao1120">
            <img class="social-media-icon github" src="assets/github.svg">
        </a>
        <a href="https://www.facebook.com/itsalyssagao/">
            <img class="social-media-icon facebook" src="assets/facebook.svg">
        </a>
        <a href="https://www.instagram.com/alyssa.gao/">
            <img class="social-media-icon instagram" src="assets/instagram.svg">
        </a>
        <a href="https://sptfy.com/6q8p">
            <img class="social-media-icon spotify" src="assets/spotify.svg">
        </a>
    </div>
</div>
