.contact-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

img {
    margin: 0 1rem;
}

img:hover{
    box-shadow: 120px 80px 40px 20px white;
}

p {
    /* color: black; */
}