<div class='app'>
  <nav>
    <div class='navbar-logo'>
      <a [hidden]="darkMode" routerLink='/home'>
        <img src ="assets/light-logo.svg">
      </a>
      <a [hidden]="!darkMode" routerLink='/home'>
        <img src ="assets/dark-logo.svg">
      </a>
    </div>
    <ul class='navbar-links'>
      <li><a [style.color]="!darkMode ? 'black' : 'white'" class='nav-link' routerLink='/about'>about</a></li>
      <li><a [style.color]="!darkMode ? 'black' : 'white'" class='nav-link' routerLink='/experiences'>experiences</a></li>
      <li><a [style.color]="!darkMode ? 'black' : 'white'" class='nav-link' href="mailto:alyssa.gao@uwaterloo.ca">contact</a></li>
    </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>
