/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

#body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}


:root {
  --primary-color: #635BA0;
  --secondary-color: #807e8b;
  --font-color: black;
  --bg-color: #F2F2F2;
  --heading-color: #221E41;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #E0E0E0;
  --font-color: white;
  --bg-color: #221E41;
  --heading-color: white;
}


html, body {
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 106px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--font-color);
}

h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--primary-color);
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--font-color);
}

p {
  font-size: 14px;
  font-weight: normal;
  color: var(--secondary-color);
}

a{
  color: var(--font-color);
}

svg path{
  fill: var(--font-color);;
}

