/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

#body {
    font-family: 'Poppins', sans-serif;
}


:root {
  --primary-color: #635BA0;
  --secondary-color: #484857;
  --font-color: #000;
  --bg-color: #F2F2F2;
  --heading-color: #221E41;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #E0E0E0;
  --font-color: #fff;
  --bg-color: #221E41;
  --heading-color: #fff;
}


html, body {
    margin: 0;
    overflow-x: hidden;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

body.dark-mode {
  background-color: #221E41;
  color: #fff;
}

body.light-mode {
  background-color: #F2F2F2;
  color: #000;
}

h1.dark-mode {
  color: #fff;
}

h1.light-mode {
  color: #221E41;
}

h2.dark-mode {
  color: #fff;
}

h2.light-mode {
  color: #000;
}

h3.dark-mode {
  color: #9A97F3;
}

h3.light-mode {
  color: #635BA0;
}

h4.dark-mode {
  color: #fff;
}

h4.light-mode {
  color: #000;
}

p.dark-mode {
  color: #E0E0E0;
}

p.light-mode {
  color: #484857;
}

a.dark-mode {
  color: #000;
}

a.light-mode {
  color: #fff;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    /* color: var(--heading-color); */
    line-height: 106px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  /* color: var(--font-color); */
}

h3 {
  font-size: 22px;
  font-weight: 700;
  /* color: var(--primary-color); */
}

h4 {
  font-size: 18px;
  font-weight: 700;
  /* color: var(--font-color); */
}

p {
  font-size: 14px;
  font-weight: normal;
  /* color: var(--secondary-color); */
}

/* a{
  color: var(--font-color);
} */

svg path{
  fill: var(--font-color);;
}

