.home-subheading {
    margin-top: -35px;
    text-overflow: clip;
    overflow: hidden;
    font-weight: 400;
    font-size: 30px;
}

.home-container {
    text-align: center;
}

.image_off, #home:hover .image_on{
    display:none
 }
 .image_on, #home:hover .image_off{
    display:block
 }

 @media screen and (max-width: 768px) {
    h1 {
        font-size: 8vw;
        line-height: 12vw;
        margin-top: 5rem;
    }
    .home-subheading {
        font-size: 4vw;
        line-height: 12vw;
    }
    img {
        width: 80vw;
    }
  }