.home-subheading {
    margin-top: -35px;
    text-overflow: clip;
    overflow: hidden;
    font-weight: 400;
    color: black;
    font-size: 30px;
}

.home-container {
    text-align: center;
}

.image_off, #home:hover .image_on{
    display:none
 }
 .image_on, #home:hover .image_off{
    display:block
 }
